{# This inherrites from /app/Resources/views/base.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link href="{{ asset('bundles/oag/css/main.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}Tool POCs{% endblock %}

{% block h1 %}Open Ag Toolbox{% endblock %}

{% block menu %}
    <a class='home-link' href="{{ path('oag_default_index') }}">Home</a> | <a class='upload-link' href="{{ path('oag_default_upload') }}">Upload file</a>
{% endblock %}

{% block body %}

    {{ form_start(form) }}
    <table class="pure-table pure-table-bordered document-table">
        <thead>
            <tr>
                <th><input type="checkbox" id="select-all-delete" /></th>
                <th>File</th>
                <th>Process with ...</th>
                <th>Process with ...</th>
                <th>Download IATI XML ...</th>
                <th>Visualise</th>
            </tr>
        </thead>
        <tbody>
            {% for id, file in files %}
                <tr>
                    <td>
                        {{ form_widget(form.delete_list[loop.index - 1], { 'attr': { 'class': 'cbox-del' } }) }}
                    </td>
                    <td><a href="{{ asset('uploads')}}/oagfiles/{{ file['file'] }}" title="{{ file['mimetype'] }}">{{ file['file'] }}</a></td>
                <td>
                    {% if file['mimetype'] | isCoveable %}
                        <a href="{{ path('oag_cove_index', { 'fileid': id } ) }}">CoVE</a>
                    {% endif %}
                </td>
                <td>
                    {% if file['mimetype'] | isClassifiable %}
                        <a href="{{ path('oag_classify_index', { 'fileid': id }) }}">Classifier</a>
                    {% endif %}
                </td>
                <td>
                    {% if file['xml'] is defined %}
                        <a href="{{ asset('xml')}}/oagfiles/{{ file['file'] }}">XML</a>
                    {% endif %}
                </td>
                {# TODO I guess there is a sy3 way of doping this using form builder #}
                <td>
                    {% if file['xml'] is defined %}
                        <a href="{{ path('oag_dportal_index', { 'fileid': id }) }}" target="dportal">D-Portal</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td><button type="submit">Delete</button></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        </tbody>
    </table>
{{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/oag/js/main.js') }}"></script>
    <script>
$( function() {
  $( document ).tooltip();

  $("#select-all-delete").click(function() {
        var checkBoxes = $(".cbox-del");
        checkBoxes.prop("checked", !checkBoxes.prop("checked"));
  });
});
    </script>
{% endblock %}